<h1>Quiz#index</h1>
<ul>
<% for pytanie in @quiz.pytania %>
  <li><%= pytanie.tresc %></li>
      <% for odpowiedz in pytanie.odpowiedzi %>

          <%= radio_button_tag(:odpowiedz, odpowiedz.tresc_odp) %>
          <%= label_tag("odpowiedz label", odpowiedz.tresc_odp) %>
          <br />

      <% end %>

<% end %>
</ul>
