<h3 class="header centered">Moderatorzy</h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th>
      #
    </th>
    <th>
      Nazwa użytkownika
    </th>
    <th>
      Ranga
    </th>
  </tr>
  </thead>
  <tbody>
  <% @moderators.each_with_index do |moderator, index|%>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= moderator.nazwa_uz %>
        </td>
        <td>
          <%= moderator.ranga %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

