<h3 style="text-align:center">Quizy</h3>
<div style="text-padding:left; width: 100%; display: table;">
  <% for quiz in @quizzes %>
    <div style="display: table-row">
        <div style="text-align: center;width: 40%; display: table-cell;"> <%= link_to quiz.nazwa, quiz_path + '/' + quiz.id_quizu.to_s%> </div>
        <div style="text-align: center;width: 10%; display: table-cell;"> <%= link_to "Info", "INFO DO QUIZU", params.merge({:id => quiz.id_quizu}) %></div>
    </div>
  <% end %>
  <br />
  <% if has_privilege? :creation_of_quizzes %>
    <%= link_to "Nowy quiz", "STWORZ NOWY QUIZ"%>
  <% end %>
</div>