<h3 class="header centered">Quizy</h3>
<table class="table table-hover">
  <% for quiz in @quizzes %>
    <tr>
      <td>
        <%= link_to quiz.nazwa, quiz_url(:id => quiz.id_quizu)%>
      </td>
      <td>
        <%= link_to 'Info', quiz_info_url(:id_grupy => @grupa.id_grupy, :id =>  quiz.id_quizu), params.merge({:id => quiz.id_quizu}) %>
      </td>
    </tr>
  <% end %>
</table>
<% if has_privilege? :creation_of_quizzes %>
    <div class="control-group">
        <%= link_to 'Nowy quiz', '/quiz/new', :class => 'btn btn-primary'%>
    </div>
<% end %>