<h3 class="header centered">Użytkownicy zapisani do grupy</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Nazwa uzytkownika
      </th>
    </tr>
  </thead>
  <tbody>
   <% @users.each_with_index do |user, index|%>
     <tr>
       <td>
         <%= index + 1 %>
       </td>
        <td>
         <%= user.nazwa_uz %>
        </td>
      </tr>
    <% end %>
 </tbody>
</table>

