/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



footer {
    padding-top: 60px;
    text-align: center;
}

h1.header {
    padding-bottom: 60px;
}
h3.header {
    padding-bottom: 20px;
}

h3.header.centered
{
    text-align: center;
}

.form-horizontal .control-label {
    /* text-align:right; */
    text-align: left !important;
}

.form-buttons {
    text-align: center;
    padding-top: 40px;
}

a:hover {
  text-decoration: none !important;
}

a.warn:hover {
    color: red;
}
/*
 * Bootstrap's nav-justify doesn't seem to work
 * and my skill is too weak for any worthy solution.   ;-(
 *
 */
.three-part-menu {
    width: 33% !important;
    text-align: center !important;
}


.light-blue-container {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}


.horizontally-padded-container {
    padding-left: 30px !important;
    padding-right: 30px !important;
}