// Place all the styles related to the Pytanie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.good-score {
  color: #62E200;
}

.mediocre-score {
  color: #FFAD40;
}

.bad-score {
    color: #F5001D;
}